# Copy this file to env/.env.dev before provisioning a dev environment.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev
CONNECTOR_ID=salesforcecrmcustomconnector
CONNECTOR_NAME=Salesforce-CRM-1803
CONNECTOR_DESCRIPTION=Salesforce CRM Custom connector for Leads, Accounts, Contacts, Opportunities, Cases, and Customer Projects.

# Updating Azure resources
AZURE_SUBSCRIPTION_ID=your_azure_subscription_id
AZURE_RESOURCE_GROUP_NAME=your_resource_group_name
RESOURCE_SUFFIX=dev
