# Copy this file to env/.env.local.user before running locally.

# If you're adding a secret value, add SECRET_ prefix to the name so Microsoft 365 Agents Toolkit can handle them properly
# Secrets. Keys prefixed with `SECRET_` will be masked in Microsoft 365 Agents Toolkit logs.

# Salesforce Client Secret
SECRET_SALESFORCE_CLIENT_SECRET=your_salesforce_client_secret

# Azure AD App Client Secret
SECRET_AAD_APP_CLIENT_SECRET=your_azure_ad_app_client_secret
